            body {
                background: #FFEFBA;
                background: -webkit-linear-gradient(to left, #FFFFFF, #FFEFBA);
                background: linear-gradient(to left, #FFFFFF, #FFEFBA);
            }
            
            .container {
                margin-top: 70px;
            }
            
            .navbar-toggler {
                font-size: 1rem !important;
            }
            
            #home {
                height: 100vh;
            }
            
            #skills {
                height: 100vh;
            }
            
            .card {
                margin: 0 auto;
                float: none;
                margin-top: 200px;
                margin-bottom: 10px;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
                transition: 0.3s;
            }
            
            .card:hover {
                box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
            }
            
            @media (min-width: 480px) {
                #download-cv {
                    margin-top: 9rem;
                }
            }
            
            @media (max-width: 480px) {
                .card {
                    margin-top: 30px;
                }
            }